<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Entrenador - Retofit</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('.static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/Banner-Heading-Image.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="icon" href="{{ url_for('.static', filename='img/icono.png') }}">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md" style="height: 70px;">
        <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/entrenadores/">
                <div class="sidebar-brand-text mx-3" style="margin: 0px;margin-right: 16px;margin-left: 20px;height: 39.2px;"><img src="{{ url_for('.static', filename='img/logo.png') }}" style="width: 150px;"></div>
            </a>
            <ul class="navbar-nav flex-nowrap ms-auto">
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">{{ current_user.nombre }}</span><img class="border rounded-circle img-profile" style="height:50px;" src="/uploads/{{ foto }}"></a>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="/entrenadores/perfil"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Perfil</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="{{ url_for('entrenadores.logout') }}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(59,153,224);">
            <div class="container-fluid d-flex flex-column p-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/entrenadores/comidas"><i class="fas fa-apple-alt"></i><span>Comidas</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/entrenadores/dietas"><i class="far fa-calendar-alt"></i><span>Dietas</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/entrenadores/ejercicios"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                                <path d="M20.2739 9.86883L16.8325 4.95392L18.4708 3.80676L21.9122 8.72167L20.2739 9.86883Z" fill="currentColor"></path>
                                <path d="M18.3901 12.4086L16.6694 9.95121L8.47783 15.687L10.1985 18.1444L8.56023 19.2916L3.97162 12.7383L5.60992 11.5912L7.33068 14.0487L15.5222 8.31291L13.8015 5.8554L15.4398 4.70825L20.0284 11.2615L18.3901 12.4086Z" fill="currentColor"></path>
                                <path d="M20.7651 7.08331L22.4034 5.93616L21.2562 4.29785L19.6179 5.445L20.7651 7.08331Z" fill="currentColor"></path>
                                <path d="M7.16753 19.046L3.72607 14.131L2.08777 15.2782L5.52923 20.1931L7.16753 19.046Z" fill="currentColor"></path>
                                <path d="M4.38208 18.5549L2.74377 19.702L1.59662 18.0637L3.23492 16.9166L4.38208 18.5549Z" fill="currentColor"></path>
                            </svg><span>Ejercicios</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/entrenadores/rutinas"><i class="far fa-calendar-alt"></i><span>Rutinas</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0"></h3>
                    </div>
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h1 class="text-dark mb-0">Bienvenid@, {{ current_user.nombre }}</h1>
                    </div>
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0"></h3>
                    </div>
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h2 class="text-dark mb-0">Resumen</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card shadow border-start-success py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>COMIDAS</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{ nComidas }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-apple-alt fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card shadow border-start-primary py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>DIETAS</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{ nDietas }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="far fa-calendar-alt fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card shadow border-start-success py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>EJERCICIOS</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{ nEjercicios }}</span></div>
                                            </div>
                                            <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" fill="none">
                                                <path d="M20.2739 9.86883L16.8325 4.95392L18.4708 3.80676L21.9122 8.72167L20.2739 9.86883Z" fill="currentColor"></path>
                                                <path d="M18.3901 12.4086L16.6694 9.95121L8.47783 15.687L10.1985 18.1444L8.56023 19.2916L3.97162 12.7383L5.60992 11.5912L7.33068 14.0487L15.5222 8.31291L13.8015 5.8554L15.4398 4.70825L20.0284 11.2615L18.3901 12.4086Z" fill="currentColor"></path>
                                                <path d="M20.7651 7.08331L22.4034 5.93616L21.2562 4.29785L19.6179 5.445L20.7651 7.08331Z" fill="currentColor"></path>
                                                <path d="M7.16753 19.046L3.72607 14.131L2.08777 15.2782L5.52923 20.1931L7.16753 19.046Z" fill="currentColor"></path>
                                                <path d="M4.38208 18.5549L2.74377 19.702L1.59662 18.0637L3.23492 16.9166L4.38208 18.5549Z" fill="currentColor"></path>
                                            </svg></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card shadow border-start-success py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>RUTINAS</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{ nRutinas }}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="far fa-calendar-alt fa-2x text-gray-300"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <br>
                            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                                <h3 class="text-dark mb-0">Accesos directos</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3"><a href="/entrenadores/comidas">
                                <div class="card textwhite bg-primary text-white shadow" style="--bs-primary: rgb(59,153,224);--bs-primary-rgb: 59,153,224;">
                                    <div class="card-body">
                                        <p class="m-0" style="text-align: center;">Comidas</p>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-md-3"><a href="/entrenadores/dietas">
                                <div class="card textwhite bg-secondary text-white shadow">
                                    <div class="card-body">
                                        <p class="m-0" style="text-align: center;">Dietas</p>
                                        <p class="text-white-50 small m-0"></p>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-md-3"><a href="/entrenadores/ejercicios">
                                <div class="card textwhite bg-info text-white shadow">
                                    <div class="card-body">
                                        <p class="m-0" style="text-align: center;">Ejercicios</p>
                                    </div>
                                </div>
                            </a></div>
                        <div class="col-md-3"><a href="/entrenadores/rutinas">
                                <div class="card textwhite bg-primary text-white shadow" style="--bs-primary: rgb(59,153,224);--bs-primary-rgb: 59,153,224;">
                                    <div class="card-body">
                                        <p class="m-0" style="text-align: center;">Rutinas</p>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Retofit 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('.static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="{{ url_for('.static', filename='js/Simple-Slider.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/theme.js') }}"></script>
</body>

</html>